<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>torso</key>
	<dict>
		<key>tunic</key>
		<array>
			<string>torso_tunic_brown_female.png</string>
			<string>torso_tunic_maroon_female.png</string>
			<string>torso_tunic_teal_female.png</string>
			<string>torso_tunic_white_female.png</string>
		</array>
		<key>shirt</key>
		<array>
			<string>torso_shirt_sleeveless_brown.png</string>
			<string>torso_shirt_sleeveless_brown_pirate.png</string>
			<string>torso_shirt_sleeveless_maroon.png</string>
			<string>torso_shirt_sleeveless_maroon_pirate.png</string>
			<string>torso_shirt_sleeveless_teal.png</string>
			<string>torso_shirt_sleeveless_teal_pirate.png</string>
			<string>torso_shirt_sleeveless_white.png</string>
			<string>torso_shirt_sleeveless_white_pirate.png</string>
		</array>
		<key>robes</key>
		<array>
			<string>torso_robes_female_no_th-sh_black.png</string>
			<string>torso_robes_female_no_th-sh_blue.png</string>
			<string>torso_robes_female_no_th-sh_brown.png</string>
			<string>torso_robes_female_no_th-sh_dark brown.png</string>
			<string>torso_robes_female_no_th-sh_dark gray.png</string>
			<string>torso_robes_female_no_th-sh_forest green.png</string>
			<string>torso_robes_female_no_th-sh_light gray.png</string>
			<string>torso_robes_female_no_th-sh_purple.png</string>
			<string>torso_robes_female_no_th-sh_red.png</string>
			<string>torso_robes_female_no_th-sh_white.png</string>
		</array>
		<key>plate</key>
		<array>
			<string>torso_plate_arms_female.png</string>
			<string>torso_plate_chest_female.png</string>
		</array>
		<key>leather</key>
		<array>
			<string>torso_leather_chest_female.png</string>
			<string>torso_leather_shoulders_female.png</string>
		</array>
		<key>gold</key>
		<array>
			<string>torso_gold_arms_female.png</string>
			<string>torso_gold_chest_female.png</string>
		</array>
		<key>dress</key>
		<array>
			<string>torso_dress_female_blue_vest.png</string>
			<string>torso_dress_female_dress_w_sash_female.png</string>
			<string>torso_dress_female_overskirt.png</string>
			<string>torso_dress_female_underdress.png</string>
		</array>
		<key>chain</key>
		<array>
			<string>torso_chain_mail_female.png</string>
			<string>torso_chain_tabard_jacket_female.png</string>
		</array>
	</dict>
	<key>legs</key>
	<dict>
		<key>skirt</key>
		<array>
			<string>legs_skirt_robe_female_incomplete.png</string>
		</array>
		<key>pants</key>
		<array>
			<string>legs_pants_magenta_female.png</string>
			<string>legs_pants_red_female.png</string>
			<string>legs_pants_teal_female.png</string>
			<string>legs_pants_white_female.png</string>
		</array>
		<key>armor</key>
		<array>
			<string>legs_armor_golden_greaves_female.png</string>
			<string>legs_armor_metal_pants_female.png</string>
		</array>
	</dict>
	<key>head</key>
	<dict>
		<key>tiaras</key>
		<array>
			<string>head_tiaras_female_bronze.png</string>
			<string>head_tiaras_female_gold.png</string>
			<string>head_tiaras_female_iron.png</string>
			<string>head_tiaras_female_purple.png</string>
			<string>head_tiaras_female_silver.png</string>
		</array>
		<key>hood</key>
		<array>
			<string>head_hood_chain_hood_female.png</string>
			<string>head_hood_cloth_hood_female.png</string>
		</array>
		<key>helmet</key>
		<array>
			<string>head_helmet_chainhat_female.png</string>
			<string>head_helmet_golden_helm_female.png</string>
			<string>head_helmet_metal_helm_female.png</string>
		</array>
		<key>cap</key>
		<array>
			<string>head_cap_leather_female.png</string>
		</array>
		<key>bandana</key>
		<array>
			<string>head_bandana_red_female.png</string>
		</array>
	</dict>
	<key>hands</key>
	<dict>
		<key>gloves</key>
		<array>
			<string>hands_golden_gloves_female.png</string>
			<string>hands_metal_gloves_female.png</string>
		</array>
		<key>bracers</key>
		<array>
			<string>hands_bracers_cloth_female.png</string>
			<string>hands_bracers_leather_female.png</string>
			<string>hands_bracers_white_cloth.png</string>
		</array>
		<key>bracelet</key>
		<array>
			<string>hands_bracelet.png</string>
		</array>
		<key>bandages</key>
		<array>
			<string>hands_bandages_white_cloth.png</string>
		</array>
	</dict>
	<key>hair</key>
	<dict>
		<key>bangslong</key>
		<array>
			<string>hair_female_bangslong_black.png</string>
			<string>hair_female_bangslong_blonde.png</string>
			<string>hair_female_bangslong_blonde2.png</string>
			<string>hair_female_bangslong_blue.png</string>
			<string>hair_female_bangslong_blue2.png</string>
			<string>hair_female_bangslong_brown.png</string>
			<string>hair_female_bangslong_brunette.png</string>
			<string>hair_female_bangslong_brunette2.png</string>
			<string>hair_female_bangslong_dark-blonde.png</string>
			<string>hair_female_bangslong_gray.png</string>
			<string>hair_female_bangslong_green.png</string>
			<string>hair_female_bangslong_green2.png</string>
			<string>hair_female_bangslong_light-blonde.png</string>
			<string>hair_female_bangslong_light-blonde2.png</string>
			<string>hair_female_bangslong_pink.png</string>
			<string>hair_female_bangslong_pink2.png</string>
			<string>hair_female_bangslong_raven.png</string>
			<string>hair_female_bangslong_raven2.png</string>
			<string>hair_female_bangslong_redhead.png</string>
			<string>hair_female_bangslong_ruby-red.png</string>
			<string>hair_female_bangslong_white-blonde.png</string>
			<string>hair_female_bangslong_white-blonde2.png</string>
			<string>hair_female_bangslong_white-cyan.png</string>
			<string>hair_female_bangslong_white.png</string>
		</array>
		<key>bangslong2</key>
		<array>
			<string>hair_female_bangslong2_black.png</string>
			<string>hair_female_bangslong2_blonde.png</string>
			<string>hair_female_bangslong2_blonde2.png</string>
			<string>hair_female_bangslong2_blue.png</string>
			<string>hair_female_bangslong2_blue2.png</string>
			<string>hair_female_bangslong2_brown.png</string>
			<string>hair_female_bangslong2_brunette.png</string>
			<string>hair_female_bangslong2_brunette2.png</string>
			<string>hair_female_bangslong2_dark-blonde.png</string>
			<string>hair_female_bangslong2_gray.png</string>
			<string>hair_female_bangslong2_green.png</string>
			<string>hair_female_bangslong2_green2.png</string>
			<string>hair_female_bangslong2_light-blonde.png</string>
			<string>hair_female_bangslong2_light-blonde2.png</string>
			<string>hair_female_bangslong2_pink.png</string>
			<string>hair_female_bangslong2_pink2.png</string>
			<string>hair_female_bangslong2_raven.png</string>
			<string>hair_female_bangslong2_raven2.png</string>
			<string>hair_female_bangslong2_redhead.png</string>
			<string>hair_female_bangslong2_ruby-red.png</string>
			<string>hair_female_bangslong2_white-blonde.png</string>
			<string>hair_female_bangslong2_white-blonde2.png</string>
			<string>hair_female_bangslong2_white-cyan.png</string>
			<string>hair_female_bangslong2_white.png</string>
		</array>
		<key>bangsshort</key>
		<array>
			<string>hair_female_bangsshort_black.png</string>
			<string>hair_female_bangsshort_blonde.png</string>
			<string>hair_female_bangsshort_blonde2.png</string>
			<string>hair_female_bangsshort_blue.png</string>
			<string>hair_female_bangsshort_blue2.png</string>
			<string>hair_female_bangsshort_brown.png</string>
			<string>hair_female_bangsshort_brunette.png</string>
			<string>hair_female_bangsshort_brunette2.png</string>
			<string>hair_female_bangsshort_dark-blonde.png</string>
			<string>hair_female_bangsshort_gray.png</string>
			<string>hair_female_bangsshort_green.png</string>
			<string>hair_female_bangsshort_green2.png</string>
			<string>hair_female_bangsshort_light-blonde.png</string>
			<string>hair_female_bangsshort_light-blonde2.png</string>
			<string>hair_female_bangsshort_pink.png</string>
			<string>hair_female_bangsshort_pink2.png</string>
			<string>hair_female_bangsshort_raven.png</string>
			<string>hair_female_bangsshort_raven2.png</string>
			<string>hair_female_bangsshort_redhead.png</string>
			<string>hair_female_bangsshort_ruby-red.png</string>
			<string>hair_female_bangsshort_white-blonde.png</string>
			<string>hair_female_bangsshort_white-blonde2.png</string>
			<string>hair_female_bangsshort_white-cyan.png</string>
			<string>hair_female_bangsshort_white.png</string>
		</array>
		<key>bunches</key>
		<array>
			<string>hair_female_bunches_black.png</string>
			<string>hair_female_bunches_blonde.png</string>
			<string>hair_female_bunches_blonde2.png</string>
			<string>hair_female_bunches_blue.png</string>
			<string>hair_female_bunches_blue2.png</string>
			<string>hair_female_bunches_brown.png</string>
			<string>hair_female_bunches_brunette.png</string>
			<string>hair_female_bunches_brunette2.png</string>
			<string>hair_female_bunches_dark-blonde.png</string>
			<string>hair_female_bunches_gray.png</string>
			<string>hair_female_bunches_green.png</string>
			<string>hair_female_bunches_green2.png</string>
			<string>hair_female_bunches_light-blonde.png</string>
			<string>hair_female_bunches_light-blonde2.png</string>
			<string>hair_female_bunches_pink.png</string>
			<string>hair_female_bunches_pink2.png</string>
			<string>hair_female_bunches_raven.png</string>
			<string>hair_female_bunches_raven2.png</string>
			<string>hair_female_bunches_redhead.png</string>
			<string>hair_female_bunches_ruby-red.png</string>
			<string>hair_female_bunches_scrunchies.png</string>
			<string>hair_female_bunches_white-blonde.png</string>
			<string>hair_female_bunches_white-blonde2.png</string>
			<string>hair_female_bunches_white-cyan.png</string>
			<string>hair_female_bunches_white.png</string>
		</array>
		<key>loose</key>
		<array>
			<string>hair_female_loose_black.png</string>
			<string>hair_female_loose_blonde.png</string>
			<string>hair_female_loose_blonde2.png</string>
			<string>hair_female_loose_blue.png</string>
			<string>hair_female_loose_blue2.png</string>
			<string>hair_female_loose_brown.png</string>
			<string>hair_female_loose_brunette.png</string>
			<string>hair_female_loose_brunette2.png</string>
			<string>hair_female_loose_dark-blonde.png</string>
			<string>hair_female_loose_gray.png</string>
			<string>hair_female_loose_green.png</string>
			<string>hair_female_loose_green2.png</string>
			<string>hair_female_loose_light-blonde.png</string>
			<string>hair_female_loose_light-blonde2.png</string>
			<string>hair_female_loose_pink.png</string>
			<string>hair_female_loose_pink2.png</string>
			<string>hair_female_loose_raven.png</string>
			<string>hair_female_loose_raven2.png</string>
			<string>hair_female_loose_redhead.png</string>
			<string>hair_female_loose_ruby-red.png</string>
			<string>hair_female_loose_white-blonde.png</string>
			<string>hair_female_loose_white-blonde2.png</string>
			<string>hair_female_loose_white-cyan.png</string>
			<string>hair_female_loose_white.png</string>
		</array>
		<key>pixie</key>
		<array>
			<string>hair_female_pixie_black.png</string>
			<string>hair_female_pixie_blonde.png</string>
			<string>hair_female_pixie_blonde2.png</string>
			<string>hair_female_pixie_blue.png</string>
			<string>hair_female_pixie_blue2.png</string>
			<string>hair_female_pixie_brown.png</string>
			<string>hair_female_pixie_brunette.png</string>
			<string>hair_female_pixie_brunette2.png</string>
			<string>hair_female_pixie_dark-blonde.png</string>
			<string>hair_female_pixie_gray.png</string>
			<string>hair_female_pixie_green.png</string>
			<string>hair_female_pixie_green2.png</string>
			<string>hair_female_pixie_light-blonde.png</string>
			<string>hair_female_pixie_light-blonde2.png</string>
			<string>hair_female_pixie_pink.png</string>
			<string>hair_female_pixie_pink2.png</string>
			<string>hair_female_pixie_raven.png</string>
			<string>hair_female_pixie_raven2.png</string>
			<string>hair_female_pixie_redhead.png</string>
			<string>hair_female_pixie_ruby-red.png</string>
			<string>hair_female_pixie_white-blonde.png</string>
			<string>hair_female_pixie_white-blonde2.png</string>
			<string>hair_female_pixie_white-cyan.png</string>
			<string>hair_female_pixie_white.png</string>
		</array>
		<key>ponytail</key>
		<array>
			<string>hair_female_ponytail_black.png</string>
			<string>hair_female_ponytail_blonde.png</string>
			<string>hair_female_ponytail_blonde2.png</string>
			<string>hair_female_ponytail_blue.png</string>
			<string>hair_female_ponytail_blue2.png</string>
			<string>hair_female_ponytail_brown.png</string>
			<string>hair_female_ponytail_brunette.png</string>
			<string>hair_female_ponytail_brunette2.png</string>
			<string>hair_female_ponytail_dark-blonde.png</string>
			<string>hair_female_ponytail_gray.png</string>
			<string>hair_female_ponytail_green.png</string>
			<string>hair_female_ponytail_green2.png</string>
			<string>hair_female_ponytail_light-blonde.png</string>
			<string>hair_female_ponytail_light-blonde2.png</string>
			<string>hair_female_ponytail_pink.png</string>
			<string>hair_female_ponytail_pink2.png</string>
			<string>hair_female_ponytail_raven.png</string>
			<string>hair_female_ponytail_raven2.png</string>
			<string>hair_female_ponytail_redhead.png</string>
			<string>hair_female_ponytail_ruby-red.png</string>
			<string>hair_female_ponytail_white-blonde.png</string>
			<string>hair_female_ponytail_white-blonde2.png</string>
			<string>hair_female_ponytail_white-cyan.png</string>
			<string>hair_female_ponytail_white.png</string>
		</array>
		<key>ponytail2</key>
		<array>
			<string>hair_female_ponytail2_black.png</string>
			<string>hair_female_ponytail2_blonde.png</string>
			<string>hair_female_ponytail2_blonde2.png</string>
			<string>hair_female_ponytail2_blue.png</string>
			<string>hair_female_ponytail2_blue2.png</string>
			<string>hair_female_ponytail2_brown.png</string>
			<string>hair_female_ponytail2_brunette.png</string>
			<string>hair_female_ponytail2_brunette2.png</string>
			<string>hair_female_ponytail2_dark-blonde.png</string>
			<string>hair_female_ponytail2_gray.png</string>
			<string>hair_female_ponytail2_green.png</string>
			<string>hair_female_ponytail2_green2.png</string>
			<string>hair_female_ponytail2_light-blonde.png</string>
			<string>hair_female_ponytail2_light-blonde2.png</string>
			<string>hair_female_ponytail2_pink.png</string>
			<string>hair_female_ponytail2_pink2.png</string>
			<string>hair_female_ponytail2_raven.png</string>
			<string>hair_female_ponytail2_raven2.png</string>
			<string>hair_female_ponytail2_redhead.png</string>
			<string>hair_female_ponytail2_ruby-red.png</string>
			<string>hair_female_ponytail2_shadows-dark2body.png</string>
			<string>hair_female_ponytail2_shadows-darkbody.png</string>
			<string>hair_female_ponytail2_shadows-lightbody.png</string>
			<string>hair_female_ponytail2_shadows-tanned2body.png</string>
			<string>hair_female_ponytail2_shadows-tannedbody.png</string>
			<string>hair_female_ponytail2_white-blonde.png</string>
			<string>hair_female_ponytail2_white-blonde2.png</string>
			<string>hair_female_ponytail2_white-cyan.png</string>
			<string>hair_female_ponytail2_white.png</string>
		</array>
		<key>princess</key>
		<array>
			<string>hair_female_princess_black.png</string>
			<string>hair_female_princess_blonde.png</string>
			<string>hair_female_princess_blonde2.png</string>
			<string>hair_female_princess_blue.png</string>
			<string>hair_female_princess_blue2.png</string>
			<string>hair_female_princess_brown.png</string>
			<string>hair_female_princess_brunette.png</string>
			<string>hair_female_princess_brunette2.png</string>
			<string>hair_female_princess_dark-blonde.png</string>
			<string>hair_female_princess_gray.png</string>
			<string>hair_female_princess_green.png</string>
			<string>hair_female_princess_green2.png</string>
			<string>hair_female_princess_light-blonde.png</string>
			<string>hair_female_princess_light-blonde2.png</string>
			<string>hair_female_princess_pink.png</string>
			<string>hair_female_princess_pink2.png</string>
			<string>hair_female_princess_raven.png</string>
			<string>hair_female_princess_raven2.png</string>
			<string>hair_female_princess_redhead.png</string>
			<string>hair_female_princess_ruby-red.png</string>
			<string>hair_female_princess_white-blonde.png</string>
			<string>hair_female_princess_white-blonde2.png</string>
			<string>hair_female_princess_white-cyan.png</string>
			<string>hair_female_princess_white.png</string>
		</array>
		<key>shoulderl</key>
		<array>
			<string>hair_female_shoulderl_black.png</string>
			<string>hair_female_shoulderl_blonde.png</string>
			<string>hair_female_shoulderl_blonde2.png</string>
			<string>hair_female_shoulderl_blue.png</string>
			<string>hair_female_shoulderl_blue2.png</string>
			<string>hair_female_shoulderl_brown.png</string>
			<string>hair_female_shoulderl_brunette.png</string>
			<string>hair_female_shoulderl_brunette2.png</string>
			<string>hair_female_shoulderl_dark-blonde.png</string>
			<string>hair_female_shoulderl_gray.png</string>
			<string>hair_female_shoulderl_green.png</string>
			<string>hair_female_shoulderl_green2.png</string>
			<string>hair_female_shoulderl_light-blonde.png</string>
			<string>hair_female_shoulderl_light-blonde2.png</string>
			<string>hair_female_shoulderl_pink.png</string>
			<string>hair_female_shoulderl_pink2.png</string>
			<string>hair_female_shoulderl_raven.png</string>
			<string>hair_female_shoulderl_raven2.png</string>
			<string>hair_female_shoulderl_redhead.png</string>
			<string>hair_female_shoulderl_ruby-red.png</string>
			<string>hair_female_shoulderl_white-blonde.png</string>
			<string>hair_female_shoulderl_white-blonde2.png</string>
			<string>hair_female_shoulderl_white-cyan.png</string>
			<string>hair_female_shoulderl_white.png</string>
		</array>
		<key>shoulderr</key>
		<array>
			<string>hair_female_shoulderr_black.png</string>
			<string>hair_female_shoulderr_blonde.png</string>
			<string>hair_female_shoulderr_blonde2.png</string>
			<string>hair_female_shoulderr_blue.png</string>
			<string>hair_female_shoulderr_blue2.png</string>
			<string>hair_female_shoulderr_brown.png</string>
			<string>hair_female_shoulderr_brunette.png</string>
			<string>hair_female_shoulderr_brunette2.png</string>
			<string>hair_female_shoulderr_dark-blonde.png</string>
			<string>hair_female_shoulderr_gray.png</string>
			<string>hair_female_shoulderr_green.png</string>
			<string>hair_female_shoulderr_green2.png</string>
			<string>hair_female_shoulderr_light-blonde.png</string>
			<string>hair_female_shoulderr_light-blonde2.png</string>
			<string>hair_female_shoulderr_pink.png</string>
			<string>hair_female_shoulderr_pink2.png</string>
			<string>hair_female_shoulderr_raven.png</string>
			<string>hair_female_shoulderr_raven2.png</string>
			<string>hair_female_shoulderr_redhead.png</string>
			<string>hair_female_shoulderr_ruby-red.png</string>
			<string>hair_female_shoulderr_white-blonde.png</string>
			<string>hair_female_shoulderr_white-blonde2.png</string>
			<string>hair_female_shoulderr_white-cyan.png</string>
			<string>hair_female_shoulderr_white.png</string>
		</array>
		<key>swoop</key>
		<array>
			<string>hair_female_swoop_black.png</string>
			<string>hair_female_swoop_blonde.png</string>
			<string>hair_female_swoop_blonde2.png</string>
			<string>hair_female_swoop_blue.png</string>
			<string>hair_female_swoop_blue2.png</string>
			<string>hair_female_swoop_brown.png</string>
			<string>hair_female_swoop_brunette.png</string>
			<string>hair_female_swoop_brunette2.png</string>
			<string>hair_female_swoop_dark-blonde.png</string>
			<string>hair_female_swoop_gray.png</string>
			<string>hair_female_swoop_green.png</string>
			<string>hair_female_swoop_green2.png</string>
			<string>hair_female_swoop_light-blonde.png</string>
			<string>hair_female_swoop_light-blonde2.png</string>
			<string>hair_female_swoop_pink.png</string>
			<string>hair_female_swoop_pink2.png</string>
			<string>hair_female_swoop_raven.png</string>
			<string>hair_female_swoop_raven2.png</string>
			<string>hair_female_swoop_redhead.png</string>
			<string>hair_female_swoop_ruby-red.png</string>
			<string>hair_female_swoop_white-blonde.png</string>
			<string>hair_female_swoop_white-blonde2.png</string>
			<string>hair_female_swoop_white-cyan.png</string>
			<string>hair_female_swoop_white.png</string>
		</array>
		<key>unkempt</key>
		<array>
			<string>hair_female_unkempt_black.png</string>
			<string>hair_female_unkempt_blonde.png</string>
			<string>hair_female_unkempt_blonde2.png</string>
			<string>hair_female_unkempt_blue.png</string>
			<string>hair_female_unkempt_blue2.png</string>
			<string>hair_female_unkempt_brown.png</string>
			<string>hair_female_unkempt_brunette.png</string>
			<string>hair_female_unkempt_brunette2.png</string>
			<string>hair_female_unkempt_dark-blonde.png</string>
			<string>hair_female_unkempt_gray.png</string>
			<string>hair_female_unkempt_green.png</string>
			<string>hair_female_unkempt_green2.png</string>
			<string>hair_female_unkempt_light-blonde.png</string>
			<string>hair_female_unkempt_light-blonde2.png</string>
			<string>hair_female_unkempt_pink.png</string>
			<string>hair_female_unkempt_pink2.png</string>
			<string>hair_female_unkempt_raven.png</string>
			<string>hair_female_unkempt_raven2.png</string>
			<string>hair_female_unkempt_redhead.png</string>
			<string>hair_female_unkempt_ruby-red.png</string>
			<string>hair_female_unkempt_white-blonde.png</string>
			<string>hair_female_unkempt_white-blonde2.png</string>
			<string>hair_female_unkempt_white-cyan.png</string>
			<string>hair_female_unkempt_white.png</string>
		</array>
	</dict>
	<key>feet</key>
	<dict>
		<key>slippers</key>
		<array>
			<string>feet_slippers_black_female.png</string>
			<string>feet_slippers_brown_female.png</string>
			<string>feet_slippers_gray_female.png</string>
			<string>feet_slippers_white_female.png</string>
		</array>
		<key>shoes</key>
		<array>
			<string>feet_shoes_black_female.png</string>
			<string>feet_shoes_brown_female.png</string>
			<string>feet_shoes_maroon_female.png</string>
		</array>
		<key>ghillies</key>
		<array>
			<string>feet_ghillies_female_no_th-sh.png</string>
		</array>
		<key>armor</key>
		<array>
			<string>feet_armor_golden_boots_female.png</string>
			<string>feet_armor_metal_boots_female.png</string>
		</array>
	</dict>
	<key>body</key>
	<dict>
		<key>ears</key>
		<dict>
			<key>eleven</key>
			<array>
				<string>female_body_elvenears_dark.png</string>
				<string>female_body_elvenears_dark2.png</string>
				<string>female_body_elvenears_darkelf.png</string>
				<string>female_body_elvenears_darkelf2.png</string>
				<string>female_body_elvenears_light.png</string>
				<string>female_body_elvenears_tanned.png</string>
				<string>female_body_elvenears_tanned2.png</string>
			</array>
			<key>big</key>
			<array>
				<string>female_body_bigears_dark.png</string>
				<string>female_body_bigears_dark2.png</string>
				<string>female_body_bigears_darkelf.png</string>
				<string>female_body_bigears_darkelf2.png</string>
				<string>female_body_bigears_light.png</string>
				<string>female_body_bigears_tanned.png</string>
				<string>female_body_bigears_tanned2.png</string>
			</array>
		</dict>
		<key>nose</key>
		<dict>
			<key>big</key>
			<array>
				<string>female_body_bignose_dark.png</string>
				<string>female_body_bignose_dark2.png</string>
				<string>female_body_bignose_darkelf.png</string>
				<string>female_body_bignose_darkelf2.png</string>
				<string>female_body_bignose_light.png</string>
				<string>female_body_bignose_tanned.png</string>
				<string>female_body_bignose_tanned2.png</string>
			</array>
			<key>button</key>
			<array>
				<string>female_body_buttonnose_dark.png</string>
				<string>female_body_buttonnose_dark2.png</string>
				<string>female_body_buttonnose_darkelf.png</string>
				<string>female_body_buttonnose_darkelf2.png</string>
				<string>female_body_buttonnose_light.png</string>
				<string>female_body_buttonnose_tanned.png</string>
				<string>female_body_buttonnose_tanned2.png</string>
			</array>
			<key>straight</key>
			<array>
				<string>female_body_straightnose_dark.png</string>
				<string>female_body_straightnose_dark2.png</string>
				<string>female_body_straightnose_darkelf.png</string>
				<string>female_body_straightnose_darkelf2.png</string>
				<string>female_body_straightnose_light.png</string>
				<string>female_body_straightnose_tanned.png</string>
				<string>female_body_straightnose_tanned2.png</string>
			</array>
		</dict>
		<key>eyes</key>
		<array>
			<string>female_body_eyes_blue.png</string>
			<string>female_body_eyes_brown.png</string>
			<string>female_body_eyes_gray.png</string>
			<string>female_body_eyes_green.png</string>
			<string>female_body_eyes_orange.png</string>
			<string>female_body_eyes_purple.png</string>
			<string>female_body_eyes_red.png</string>
			<string>female_body_eyes_yellow.png</string>
		</array>
		<key>body</key>
		<array>
			<string>female_body_dark.png</string>
			<string>female_body_dark2.png</string>
			<string>female_body_darkelf.png</string>
			<string>female_body_darkelf2.png</string>
			<string>female_body_light.png</string>
			<string>female_body_tanned.png</string>
			<string>female_body_tanned2.png</string>
			<string>female_body_orc.png</string>
			<string>female_body_red_orc.png</string>
		</array>
	</dict>
	<key>belt</key>
	<dict>
		<key>metal</key>
		<array>
			<string>female_belt_metal_bronze_no_th-sh.png</string>
			<string>female_belt_metal_gold_no_th-sh.png</string>
			<string>female_belt_metal_iron_no_th-sh.png</string>
			<string>female_belt_metal_silver_no_th-sh.png</string>
		</array>
		<key>leather</key>
		<array>
			<string>female_belt_leather.png</string>
		</array>
		<key>cloth</key>
		<array>
			<string>female_belt_cloth_black_no_th-sh.png</string>
			<string>female_belt_cloth_brown_no_th-sh.png</string>
			<string>female_belt_cloth_teal2_.png</string>
			<string>female_belt_cloth_white.png</string>
		</array>
		<key>buckles</key>
		<array>
			<string>female_belt_buckles_bronze.png</string>
			<string>female_belt_buckles_gold.png</string>
			<string>female_belt_buckles_iron.png</string>
			<string>female_belt_buckles_silver.png</string>
		</array>
	</dict>
	<key>accessories</key>
	<dict>
		<key>necklaces</key>
		<array>
			<string>accessories_necklaces_bronze_female.png</string>
			<string>accessories_necklaces_gold_female.png</string>
			<string>accessories_necklaces_iron_female.png</string>
			<string>accessories_necklaces_pirate_wc_sc_only_female.png</string>
			<string>accessories_necklaces_silver_female.png</string>
		</array>
		<key>capetie</key>
		<array>
			<string>accessories_capetie_black_female.png</string>
			<string>accessories_capetie_blue_female.png</string>
			<string>accessories_capetie_brown_female.png</string>
			<string>accessories_capetie_gray_female.png</string>
			<string>accessories_capetie_green_female.png</string>
			<string>accessories_capetie_lavender_female.png</string>
			<string>accessories_capetie_maroon_female.png</string>
			<string>accessories_capetie_pink_female.png</string>
			<string>accessories_capetie_red_female.png</string>
			<string>accessories_capetie_white_female.png</string>
			<string>accessories_capetie_yellow_female.png</string>
		</array>
		<key>capeclip</key>
		<array>
			<string>accessories_capeclip_black_female.png</string>
			<string>accessories_capeclip_blue_female.png</string>
			<string>accessories_capeclip_brown_female.png</string>
			<string>accessories_capeclip_gray_female.png</string>
			<string>accessories_capeclip_green_female.png</string>
			<string>accessories_capeclip_lavender_female.png</string>
			<string>accessories_capeclip_maroon_female.png</string>
			<string>accessories_capeclip_pink_female.png</string>
			<string>accessories_capeclip_red_female.png</string>
			<string>accessories_capeclip_white_female.png</string>
			<string>accessories_capeclip_yellow_female.png</string>
		</array>
	</dict>
	<key>weapons</key>
	<dict>
		<key>righthand</key>
		<array>
			<string>weapons_righthand_dagger_female.png</string>
			<string>weapons_righthand_spear_female.png</string>
			<string>weapons_righthand_steelwand_female.png</string>
			<string>weapons_righthand_woodwand_female.png</string>
		</array>
	</dict>
</dict>
</plist>
