<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>torso</key>
	<dict>
		<key>shirt</key>
		<array>
			<string>torso_shirt_longsleeve_brown_male.png</string>
			<string>torso_shirt_longsleeve_maroon_male.png</string>
			<string>torso_shirt_longsleeve_teal_male.png</string>
			<string>torso_shirt_longsleeve_white_male.png</string>
			<string>torso_shirt_sleeveless_brown.png</string>
			<string>torso_shirt_sleeveless_brown_pirate.png</string>
			<string>torso_shirt_sleeveless_maroon.png</string>
			<string>torso_shirt_sleeveless_maroon_pirate.png</string>
			<string>torso_shirt_sleeveless_teal.png</string>
			<string>torso_shirt_sleeveless_teal_pirate.png</string>
			<string>torso_shirt_sleeveless_white.png</string>
			<string>torso_shirt_sleeveless_white_pirate.png</string>
		</array>
		<key>plate</key>
		<array>
			<string>torso_plate_arms_male.png</string>
			<string>torso_plate_chest_male.png</string>
		</array>
		<key>leather</key>
		<array>
			<string>torso_leather_chest_male.png</string>
			<string>torso_leather_shoulders_male.png</string>
		</array>
		<key>gold</key>
		<array>
			<string>torso_gold_arms_male.png</string>
			<string>torso_gold_chest_male.png</string>
			<string>torso_gold_spikes_male.png</string>
		</array>
		<key>chain</key>
		<array>
			<string>torse_chain_mail_male.png</string>
			<string>torso_chain_tabard_jacket_male.png</string>
		</array>
	</dict>
	<key>legs</key>
	<dict>
		<key>skirt</key>
		<array>
			<string>legs_skirt_robe_male.png</string>
		</array>
		<key>pants</key>
		<array>
			<string>legs_pants_magenta_male.png</string>
			<string>legs_pants_red_male.png</string>
			<string>legs_pants_teal_male.png</string>
			<string>legs_pants_white_male.png</string>
		</array>
		<key>armor</key>
		<array>
			<string>legs_armor_golden_greaves_male.png</string>
			<string>legs_armor_metal_pants_male.png</string>
		</array>
	</dict>
	<key>head</key>
	<dict>
		<key>hood</key>
		<array>
			<string>head_hood_chain_hood_male.png</string>
			<string>head_hood_cloth_hood_male.png</string>
		</array>
		<key>helmet</key>
		<array>
			<string>head_helmet_chainhat_male.png</string>
			<string>head_helmet_metal_helm_male.png</string>
			<string>head_helmet_golden_helm_male.png</string>
		</array>
		<key>cap</key>
		<array>
			<string>head_cap_leather_male.png</string>
		</array>
		<key>bandana</key>
		<array>
			<string>head_bandana_red_male.png</string>
		</array>
	</dict>
	<key>hands</key>
	<dict>
		<key>gloves</key>
		<array>
			<string>hands_golden_gloves_male.png</string>
			<string>hands_metal_gloves_male.png</string>
		</array>
		<key>bracers</key>
		<array>
			<string>hands_bracers_leather_male.png</string>
			<string>hands_bracers_white_cloth.png</string>
		</array>
		<key>bracelet</key>
		<array>
			<string>hands_bracelet.png</string>
		</array>
		<key>bandages</key>
		<array>
			<string>hands_bandages_white_cloth.png</string>
		</array>
	</dict>
	<key>hair</key>
	<dict>
		<key>bangs</key>
		<array>
			<string>hair_male_bangs_blonde.png</string>
			<string>hair_male_bangs_blue.png</string>
			<string>hair_male_bangs_brunette.png</string>
			<string>hair_male_bangs_green.png</string>
			<string>hair_male_bangs_pink.png</string>
			<string>hair_male_bangs_raven.png</string>
			<string>hair_male_bangs_redhead.png</string>
			<string>hair_male_bangs_white-blonde.png</string>
		</array>
		<key>bedhead</key>
		<array>
			<string>hair_male_bedhead_blonde.png</string>
			<string>hair_male_bedhead_blue.png</string>
			<string>hair_male_bedhead_brunette.png</string>
			<string>hair_male_bedhead_green.png</string>
			<string>hair_male_bedhead_pink.png</string>
			<string>hair_male_bedhead_raven.png</string>
			<string>hair_male_bedhead_redhead.png</string>
			<string>hair_male_bedhead_white-blonde.png</string>
		</array>
		<key>long</key>
		<array>
			<string>hair_male_long_blonde.png</string>
			<string>hair_male_long_blue.png</string>
			<string>hair_male_long_brunette.png</string>
			<string>hair_male_long_green.png</string>
			<string>hair_male_long_pink.png</string>
			<string>hair_male_long_raven.png</string>
			<string>hair_male_long_redhead.png</string>
			<string>hair_male_long_white-blonde.png</string>
		</array>
		<key>longhawk</key>
		<array>
			<string>hair_male_longhawk_blonde.png</string>
			<string>hair_male_longhawk_blue.png</string>
			<string>hair_male_longhawk_brunette.png</string>
			<string>hair_male_longhawk_green.png</string>
			<string>hair_male_longhawk_pink.png</string>
			<string>hair_male_longhawk_raven.png</string>
			<string>hair_male_longhawk_redhead.png</string>
			<string>hair_male_longhawk_white-blonde.png</string>
		</array>
		<key>messy1</key>
		<array>
			<string>hair_male_messy1_blonde.png</string>
			<string>hair_male_messy1_blue.png</string>
			<string>hair_male_messy1_brunette.png</string>
			<string>hair_male_messy1_green.png</string>
			<string>hair_male_messy1_pink.png</string>
			<string>hair_male_messy1_raven.png</string>
			<string>hair_male_messy1_redhead.png</string>
			<string>hair_male_messy1_white-blonde.png</string>
		</array>
		<key>messy2</key>
		<array>
			<string>hair_male_messy2_blonde.png</string>
			<string>hair_male_messy2_blue.png</string>
			<string>hair_male_messy2_brunette.png</string>
			<string>hair_male_messy2_green.png</string>
			<string>hair_male_messy2_pink.png</string>
			<string>hair_male_messy2_raven.png</string>
			<string>hair_male_messy2_redhead.png</string>
			<string>hair_male_messy2_white-blonde.png</string>
		</array>
		<key>mohawk</key>
		<array>
			<string>hair_male_mohawk_blonde.png</string>
			<string>hair_male_mohawk_blue.png</string>
			<string>hair_male_mohawk_brunette.png</string>
			<string>hair_male_mohawk_green.png</string>
			<string>hair_male_mohawk_pink.png</string>
			<string>hair_male_mohawk_raven.png</string>
			<string>hair_male_mohawk_redhead.png</string>
			<string>hair_male_mohawk_white-blonde.png</string>
		</array>
		<key>page</key>
		<array>
			<string>hair_male_page_blonde.png</string>
			<string>hair_male_page_blue.png</string>
			<string>hair_male_page_brunette.png</string>
			<string>hair_male_page_green.png</string>
			<string>hair_male_page_pink.png</string>
			<string>hair_male_page_raven.png</string>
			<string>hair_male_page_redhead.png</string>
			<string>hair_male_page_white-blonde.png</string>
		</array>
		<key>parted</key>
		<array>
			<string>hair_male_parted_blonde.png</string>
			<string>hair_male_parted_blue.png</string>
			<string>hair_male_parted_brunette.png</string>
			<string>hair_male_parted_green.png</string>
			<string>hair_male_parted_pink.png</string>
			<string>hair_male_parted_raven.png</string>
			<string>hair_male_parted_redhead.png</string>
			<string>hair_male_parted_white-blonde.png</string>
		</array>
		<key>plain</key>
		<array>
			<string>hair_male_plain_blonde2.png</string>
			<string>hair_male_plain_blue2.png</string>
			<string>hair_male_plain_brunette2.png</string>
			<string>hair_male_plain_dark-blonde.png</string>
			<string>hair_male_plain_green2.png</string>
			<string>hair_male_plain_pink2.png</string>
			<string>hair_male_plain_raven2.png</string>
			<string>hair_male_plain_shadows-darkbody.png</string>
			<string>hair_male_plain_shadows-lightbody.png</string>
			<string>hair_male_plain_shadows-tanned2body.png</string>
			<string>hair_male_plain_shadows-tannedbody.png</string>
			<string>hair_male_plain_white-blonde2.png</string>
		</array>
		<key>shorthawk</key>
		<array>
			<string>hair_male_shorthawk_blonde.png</string>
			<string>hair_male_shorthawk_blue.png</string>
			<string>hair_male_shorthawk_brunette.png</string>
			<string>hair_male_shorthawk_green.png</string>
			<string>hair_male_shorthawk_pink.png</string>
			<string>hair_male_shorthawk_raven.png</string>
			<string>hair_male_shorthawk_redhead.png</string>
			<string>hair_male_shorthawk_white-blonde.png</string>
		</array>
	</dict>
	<key>feet</key>
	<dict>
		<key>shoes</key>
		<array>
			<string>feet_shoes_black_male.png</string>
			<string>feet_shoes_brown_male.png</string>
			<string>feet_shoes_maroon_male.png</string>
		</array>
		<key>armor</key>
		<array>
			<string>feet_armor_golden_boots_male.png</string>
			<string>feet_armor_metal_boots_male.png</string>
		</array>
	</dict>
	<key>body</key>
	<dict>
		<key>ears</key>
		<dict>
			<key>eleven</key>
			<array>
				<string>male_body_elvenears_dark.png</string>
				<string>male_body_elvenears_dark2.png</string>
				<string>male_body_elvenears_darkelf.png</string>
				<string>male_body_elvenears_darkelf2.png</string>
				<string>male_body_elvenears_light.png</string>
				<string>male_body_elvenears_tanned.png</string>
				<string>male_body_elvenears_tanned2.png</string>
			</array>
			<key>big</key>
			<array>
				<string>male_body_bigears_dark.png</string>
				<string>male_body_bigears_dark2.png</string>
				<string>male_body_bigears_darkelf.png</string>
				<string>male_body_bigears_darkelf2.png</string>
				<string>male_body_bigears_light.png</string>
				<string>male_body_bigears_tanned.png</string>
				<string>male_body_bigears_tanned2.png</string>
			</array>
		</dict>
		<key>nose</key>
		<dict>
			<key>big</key>
			<array>
				<string>male_body_bignose_dark.png</string>
				<string>male_body_bignose_dark2.png</string>
				<string>male_body_bignose_darkelf.png</string>
				<string>male_body_bignose_darkelf2.png</string>
				<string>male_body_bignose_light.png</string>
				<string>male_body_bignose_tanned.png</string>
				<string>male_body_bignose_tanned2.png</string>
			</array>
			<key>button</key>
			<array>
				<string>male_body_buttonnose_dark.png</string>
				<string>male_body_buttonnose_dark2.png</string>
				<string>male_body_buttonnose_darkelf.png</string>
				<string>male_body_buttonnose_darkelf2.png</string>
				<string>male_body_buttonnose_light.png</string>
				<string>male_body_buttonnose_tanned.png</string>
				<string>male_body_buttonnose_tanned2.png</string>
			</array>
			<key>straight</key>
			<array>
				<string>male_body_straightnose_dark.png</string>
				<string>male_body_straightnose_dark2.png</string>
				<string>male_body_straightnose_darkelf.png</string>
				<string>male_body_straightnose_darkelf2.png</string>
				<string>male_body_straightnose_light.png</string>
				<string>male_body_straightnose_tanned.png</string>
				<string>male_body_straightnose_tanned2.png</string>
			</array>
		</dict>
		<key>eyes</key>
		<array>
			<string>male_body_blue.png</string>
			<string>male_body_brown.png</string>
			<string>male_body_gray.png</string>
			<string>male_body_green.png</string>
			<string>male_body_orange.png</string>
			<string>male_body_purple.png</string>
			<string>male_body_red.png</string>
			<string>male_body_yellow.png</string>
		</array>
		<key>body</key>
		<array>
			<string>male_body_dark.png</string>
			<string>male_body_dark2.png</string>
			<string>male_body_darkelf.png</string>
			<string>male_body_darkelf2.png</string>
			<string>male_body_light.png</string>
			<string>male_body_tanned.png</string>
			<string>male_body_tanned2.png</string>
			<string>male_body_red_orc.png</string>
			<string>male_body_orc.png</string>
		</array>
	</dict>
	<key>belt</key>
	<dict>
		<key>leather</key>
		<array>
			<string>male_belt_leather.png</string>
		</array>
		<key>cloth</key>
		<array>
			<string>male_belt_cloth_white.png</string>
		</array>
	</dict>
	<key>weapons</key>
	<dict>
		<key>righthand</key>
		<array>
			<string>weapons_righthand_dagger_male.png</string>
			<string>weapons_righthand_spear_male.png</string>
			<string>weapons_righthand_woodwand_male.png</string>
		</array>
		<key>shield</key>
		<array>
			<string>weapons_lefthand_shield_male_cutoutforbody.png</string>
			<string>weapons_lefthand_shield_male_cutoutforhat.png</string>
		</array>
	</dict>
</dict>
</plist>
