<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnimationStates</key>
	<array>
		<dict>
			<key>TORSO</key>
			<array>
				<string>spellcast_TORSO_chain_armor_jacket_purple.png</string>
				<string>spellcast_TORSO_chain_armor_torso.png</string>
				<string>spellcast_TORSO_leather_armor_bracers.png</string>
				<string>spellcast_TORSO_leather_armor_shirt_white.png</string>
				<string>spellcast_TORSO_leather_armor_shoulders.png</string>
				<string>spellcast_TORSO_leather_armor_torso.png</string>
				<string>spellcast_TORSO_plate_armor_arms_shoulders.png</string>
				<string>spellcast_TORSO_plate_armor_torso.png</string>
				<string>spellcast_TORSO_robe_shirt_brown.png</string>
			</array>
			<key>HANDS</key>
			<array>
				<string>spellcast_HANDS_plate_armor_gloves.png</string>
			</array>
			<key>FEET</key>
			<array>
				<string>spellcast_FEET_plate_armor_shoes.png</string>
				<string>spellcast_FEET_shoes_brown.png</string>
			</array>
			<key>BODY</key>
			<array>
				<string>spellcast_BODY_skeleton.png</string>
				<string>spellcast_BODY_male.png</string>
			</array>
			<key>WEAPON</key>
			<array>
				<string>spellcast_WEAPON_shield_cutout_chain_armor_helmet.png</string>
				<string>spellcast_WEAPON_shield_cutout_body.png</string>
			</array>
			<key>LEGS</key>
			<array>
				<string>spellcast_LEGS_robe_skirt.png</string>
				<string>spellcast_LEGS_plate_armor_pants.png</string>
				<string>spellcast_LEGS_pants_greenish.png</string>
			</array>
			<key>HEAD</key>
			<array>
				<string>spellcast_HEAD_chain_armor_helmet.png</string>
				<string>spellcast_HEAD_chain_armor_hood.png</string>
				<string>spellcast_HEAD_hair_blonde.png</string>
				<string>spellcast_HEAD_leather_armor_hat.png</string>
				<string>spellcast_HEAD_plate_armor_helmet.png</string>
				<string>spellcast_HEAD_skeleton_eye_glow.png</string>
				<string>spellcast_HEAD_robe_hood.png</string>
			</array>
			<key>BEHIND</key>
			<array>
				<string>spellcast_BEHIND_quiver.png</string>
			</array>
			<key>BELT</key>
			<array>
				<string>spellcast_BELT_rope.png</string>
				<string>spellcast_BELT_leather.png</string>
			</array>
		</dict>
		<dict>
			<key>HANDS</key>
			<array>
				<string>walking_HANDS_plate_armor_gloves.png</string>
			</array>
			<key>FEET</key>
			<array>
				<string>walking_FEET_shoes_brown.png</string>
				<string>walking_FEET_plate_armor_shoes.png</string>
			</array>
			<key>BODY</key>
			<array>
				<string>walking_BODY_skeleton.png</string>
				<string>walking_BODY_male.png</string>
			</array>
			<key>WEAPON</key>
			<array>
				<string>walking_WEAPON_shield_cutout_chain_armor_helmet.png</string>
				<string>walking_WEAPON_shield_cutout_body.png</string>
			</array>
			<key>TORSO</key>
			<array>
				<string>walking_TORSO_robe_shirt_brown.png</string>
				<string>walking_TORSO_plate_armor_torso.png</string>
				<string>walking_TORSO_plate_armor_arms_shoulders.png</string>
				<string>walking_TORSO_leather_armor_torso.png</string>
				<string>walking_TORSO_leather_armor_shoulders.png</string>
				<string>walking_TORSO_leather_armor_shirt_white.png</string>
				<string>walking_TORSO_leather_armor_bracers.png</string>
				<string>walking_TORSO_chain_armor_torso.png</string>
				<string>walking_TORSO_chain_armor_jacket_purple.png</string>
			</array>
			<key>LEGS</key>
			<array>
				<string>walking_LEGS_robe_skirt.png</string>
				<string>walking_LEGS_plate_armor_pants.png</string>
				<string>walking_LEGS_pants_greenish.png</string>
			</array>
			<key>HEAD</key>
			<array>
				<string>walking_HEAD_robe_hood.png</string>
				<string>walking_HEAD_plate_armor_helmet.png</string>
				<string>walking_HEAD_leather_armor_hat.png</string>
				<string>walking_HEAD_hair_blonde.png</string>
				<string>walking_HEAD_chain_armor_hood.png</string>
				<string>walking_HEAD_chain_armor_helmet.png</string>
			</array>
			<key>BEHIND</key>
			<array>
				<string>walking_BEHIND_quiver.png</string>
			</array>
			<key>BELT</key>
			<array>
				<string>walking_BELT_rope.png</string>
				<string>walking_BELT_leather.png</string>
			</array>
		</dict>
		<dict>
			<key>TORSO</key>
			<array>
				<string>bow_TORSO_chain_armor_jacket_purple.png</string>
				<string>bow_TORSO_chain_armor_torso.png</string>
				<string>bow_TORSO_leather_armor_bracers.png</string>
				<string>bow_TORSO_leather_armor_shirt_white.png</string>
				<string>bow_TORSO_leather_armor_shoulders.png</string>
				<string>bow_TORSO_leather_armor_torso.png</string>
				<string>bow_TORSO_plate_armor_arms_shoulders.png</string>
				<string>bow_TORSO_plate_armor_torso.png</string>
				<string>bow_TORSO_robe_shirt_brown.png</string>
			</array>
			<key>HANDS</key>
			<array>
				<string>bow_HANDS_plate_armor_gloves.png</string>
			</array>
			<key>FEET</key>
			<array>
				<string>bow_FEET_plate_armor_shoes.png</string>
				<string>bow_FEET_shoes_brown.png</string>
			</array>
			<key>BODY</key>
			<array>
				<string>bow_BODY_male.png</string>
			</array>
			<key>WEAPON</key>
			<array>
				<string>bow_WEAPON_arrow.png</string>
				<string>bow_WEAPON_bow.png</string>
			</array>
			<key>LEGS</key>
			<array>
				<string>bow_LEGS_robe_skirt.png</string>
				<string>bow_LEGS_plate_armor_pants.png</string>
				<string>bow_LEGS_pants_greenish.png</string>
			</array>
			<key>HEAD</key>
			<array>
				<string>bow_HEAD_robe_hood.png</string>
				<string>bow_HEAD_plate_armor_helmet.png</string>
				<string>bow_HEAD_leather_armor_hat.png</string>
				<string>bow_HEAD_hair_blonde.png</string>
				<string>bow_HEAD_chain_armor_hood.png</string>
				<string>bow_HEAD_chain_armor_helmet.png</string>
			</array>
			<key>BEHIND</key>
			<array>
				<string>walking_BEHIND_quiver.png</string>
			</array>
			<key>BELT</key>
			<array>
				<string>bow_BELT_leather.png</string>
				<string>bow_BELT_rope.png</string>
			</array>
		</dict>
		<dict>
			<key>TORSO</key>
			<array>
				<string>thrust_TORSO_chain_armor_jacket_purple.png</string>
				<string>thrust_TORSO_chain_armor_torso.png</string>
				<string>thrust_TORSO_leather_armor_bracers.png</string>
				<string>thrust_TORSO_leather_armor_shirt_white.png</string>
				<string>thrust_TORSO_leather_armor_shoulders.png</string>
				<string>thrust_TORSO_leather_armor_torso.png</string>
				<string>thrust_TORSO_plate_armor_arms_shoulders.png</string>
				<string>thrust_TORSO_plate_armor_torso.png</string>
				<string>thrust_TORSO_robe_shirt_brown.png</string>
			</array>
			<key>HANDS</key>
			<array>
				<string>thrust_HANDS_plate_armor_gloves.png</string>
			</array>
			<key>FEET</key>
			<array>
				<string>thrust_FEET_shoes_brown.png</string>
				<string>thrust_FEET_plate_armor_shoes.png</string>
			</array>
			<key>BODY</key>
			<array>
				<string>thrust_BODY_male.png</string>
			</array>
			<key>WEAPON</key>
			<array>
				<string>thrust_WEAPON_shield_cutout_body.png</string>
				<string>thrust_WEAPON_shield_cutout_chain_armor_helmet.png</string>
				<string>thrust_WEAPON_spear.png</string>
				<string>thrust_WEAPON_staff.png</string>
			</array>
			<key>LEGS</key>
			<array>
				<string>thrust_LEGS_robe_skirt.png</string>
				<string>thrust_LEGS_plate_armor_pants.png</string>
				<string>thrust_LEGS_pants_greenish.png</string>
			</array>
			<key>HEAD</key>
			<array>
				<string>thrust_HEAD_robe_hood.png</string>
				<string>thrust_HEAD_plate_armor_helmet.png</string>
				<string>thrust_HEAD_leather_armor_hat.png</string>
				<string>thrust_HEAD_hair_blonde.png</string>
				<string>thrust_HEAD_chain_armor_hood.png</string>
				<string>thrust_HEAD_chain_armor_helmet.png</string>
			</array>
			<key>BEHIND</key>
			<array>
				<string>thrust_BEHIND_quiver.png</string>
			</array>
			<key>BELT</key>
			<array>
				<string>thrust_BELT_rope.png</string>
				<string>thrust_BELT_leather.png</string>
			</array>
		</dict>
		<dict>
			<key>TORSO</key>
			<array>
				<string>slash_TORSO_chain_armor_jacket_purple.png</string>
				<string>slash_TORSO_chain_armor_torso.png</string>
				<string>slash_TORSO_leather_armor_bracers.png</string>
				<string>slash_TORSO_leather_armor_shirt_white.png</string>
				<string>slash_TORSO_leather_armor_shoulders.png</string>
				<string>slash_TORSO_leather_armor_torso.png</string>
				<string>slash_TORSO_plate_armor_arms_shoulders.png</string>
				<string>slash_TORSO_plate_armor_torso.png</string>
				<string>slash_TORSO_robe_shirt_brown.png</string>
			</array>
			<key>HANDS</key>
			<array>
				<string>slash_HANDS_plate_armor_gloves.png</string>
			</array>
			<key>FEET</key>
			<array>
				<string>slash_FEET_shoes_brown.png</string>
				<string>slash_FEET_plate_armor_shoes.png</string>
			</array>
			<key>BODY</key>
			<array>
				<string>slash_BODY_skeleton.png</string>
				<string>slash_BODY_male.png</string>
			</array>
			<key>WEAPON</key>
			<array>
				<string>slash_WEAPON_dagger.png</string>
			</array>
			<key>LEGS</key>
			<array>
				<string>slash_LEGS_robe_skirt.png</string>
				<string>slash_LEGS_plate_armor_pants.png</string>
				<string>slash_LEGS_pants_greenish.png</string>
			</array>
			<key>HEAD</key>
			<array>
				<string>slash_HEAD_robe_hood.png</string>
				<string>slash_HEAD_plate_armor_helmet.png</string>
				<string>slash_HEAD_leather_armor_hat.png</string>
				<string>slash_HEAD_hair_blonde.png</string>
				<string>slash_HEAD_chain_armor_hood.png</string>
				<string>slash_HEAD_chain_armor_helmet.png</string>
			</array>
			<key>BEHIND</key>
			<array>
				<string>slash_BEHIND_quiver.png</string>
			</array>
			<key>BELT</key>
			<array>
				<string>slash_BELT_rope.png</string>
				<string>slash_BELT_leather.png</string>
			</array>
		</dict>
		<dict>
			<key>TORSO</key>
			<array>
				<string>hurt_TORSO_chain_armor_jacket_purple.png</string>
				<string>hurt_TORSO_chain_armor_torso.png</string>
				<string>hurt_TORSO_leather_armor_bracers.png</string>
				<string>hurt_TORSO_leather_armor_shirt_white.png</string>
				<string>hurt_TORSO_leather_armor_shoulders.png</string>
				<string>hurt_TORSO_leather_armor_torso.png</string>
				<string>hurt_TORSO_plate_armor_arms_shoulders.png</string>
				<string>hurt_TORSO_plate_armor_torso.png</string>
				<string>hurt_TORSO_robe_shirt_brown.png</string>
			</array>
			<key>HANDS</key>
			<array>
				<string>hurt_HANDS_plate_armor_gloves.png</string>
			</array>
			<key>FEET</key>
			<array>
				<string>hurt_FEET_shoes_brown.png</string>
				<string>hurt_FEET_plate_armor_shoes.png</string>
			</array>
			<key>BODY</key>
			<array>
				<string>hurt_BODY_skeleton.png</string>
				<string>hurt_BODY_male.png</string>
			</array>
			<key>WEAPON</key>
			<array>
				<string>hurt_WEAPON_dagger.png</string>
			</array>
			<key>LEGS</key>
			<array>
				<string>hurt_LEGS_robe_skirt.png</string>
				<string>hurt_LEGS_plate_armor_pants.png</string>
				<string>hurt_LEGS_pants_greenish.png</string>
			</array>
			<key>HEAD</key>
			<array>
				<string>hurt_HEAD_robe_hood.png</string>
				<string>hurt_HEAD_plate_armor_helmet.png</string>
				<string>hurt_HEAD_leather_armor_hat.png</string>
				<string>hurt_HEAD_hair_blonde.png</string>
				<string>hurt_HEAD_chain_armor_hood.png</string>
				<string>hurt_HEAD_chain_armor_helmet.png</string>
			</array>
			<key>BEHIND</key>
			<array>
				<string>hurt_BEHIND_quiver.png</string>
			</array>
			<key>BELT</key>
			<array>
				<string>hurt_BELT_rope.png</string>
				<string>hurt_BELT_leather.png</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
